extends layout

block content
  h1 Enter your message, #{currentUser.username}
  form#message_form(action='' method='POST')
    label(for='title') Title
    input(name='title' placeholder='Title' type='text' value=(message === undefined ? '' : message.title))
    label(for='text') Text
    textarea(name='text' placeholder='Your message...' type='text' value=(user === undefined ? '' : message.text))
    button Submit
  if errors
    ul
    for error in errors
      li!= error.msg