extends layout

block content
  h1 Sign Up
  form.user_form(action='' method='POST')
    label(for='first_name') First name
    input(name='first_name' placeholder='First name' type='text' value=(user === undefined ? '' : user.first_name))
    label(for='last_name') Last name
    input(name='last_name' placeholder='Last name' type='text' value=(user === undefined ? '' : user.last_name))
    label(for='username') Username
    input(name='username' placeholder='Username' type='text' value=(user === undefined ? '' : user.username))
    label(for='password') Password
    input(name='password' type='password')
    label(for='password_confirm') Password confirmation
    input(name='password_confirm' type='password')
    button Sign Up
  if errors
    ul
    for error in errors
      li!= error.msg

