extends layout

block content
  h1 Sign Up
  form(action='' method='POST')
    label(for='first_name') First name
    input(name='first_name' placeholder='First name' type='text')
    label(for='last_name') Last name
    input(name='last_name' placeholder='Last name' type='text')
    label(for='username') Username
    input(name='username' placeholder='Username' type='text')
    label(for='password') Password
    input(name='password' type='password')
    button Sign Up

